
.scope {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}
.banner {
  flex-grow: 0;
  text-align: center;
  width: 25rem;

  img {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}
:global(.mdc-layout-size-tablet) {
  .banner {
    width: 66.7%;
  }
}
:global(.mdc-layout-size-phone) {
  .banner {
    width: 100%;
  }
}
.subtitle {
  margin: 1.5rem 0;
  color: rgba(0,0,0,0.5);
}
.footerLine {
  font-size: 0.8rem;
  color: rgba(0,0,0,0.5);
  font-style: italic;
}
